In [1]:
import numpy as np

In [2]:
calculated_cluster = np.load('new_no_feature_selection_Labels_kmeans.npy')

In [3]:
import pandas as pd

In [4]:
pd.DataFrame(calculated_cluster)

       0
0      0
1      0
2      0
3      0
4      0
...   ..
62652  0
62653  0
62654  0
62655  3
62656  0

[62657 rows x 1 columns]

In [5]:
pd.read_csv('new_no_feature_selection_int_true_variants_k_5.csv', header=None)

       0
0      0
1      0
2      2
3      2
4      2
...   ..
62652  3
62653  3
62654  3
62655  4
62656  4

[62657 rows x 1 columns]

In [7]:
calculated_cluster_2 = np.load('./new_no_feature_selection_Labels_kmeans_2.npy')

FileNotFoundError: [Errno 2] No such file or directory: './new_no_feature_selection_Labels_kmeans_2.npy'