In [1]:
import os
from pathlib import Path

In [2]:
# test_file_path = os.path.abspath('new_no_feature_selection_Labels_kmeans.npy')
test_file_path = os.getcwd() + '/../../filtered_variants.npy'
test_file_path

'/Users/erland/OneDrive - UNIVERSITAS INDONESIA/my_study/07_komputasi_lanjut_dan_big_data/midterm/reproduce_paper-1/kmeans/org/../../filtered_variants.npy'

In [4]:
import numpy as np

data = np.load(test_file_path)

In [6]:
import pandas as pd

data_df = pd.DataFrame(data)
data_df

               0
0        B.1.1.7
1        B.1.1.7
2        B.1.427
3        B.1.427
4        B.1.427
...          ...
62652  B.1.617.2
62653  B.1.617.2
62654  B.1.617.2
62655        P.1
62656        P.1

[62657 rows x 1 columns]

In [9]:
data_df[data_df[0]=='B.1.1.7'].shape

(13966, 1)